.port__container {
    background-color: var(--color-white);
    overflow-x: hidden;

}

/* ======== Hero Container ======== */
.temple__container1 {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../../assets/ProjectsDataImages/Temple/IMG_4522.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7)
}

.temple__container2 {
    height: 60vh;
}

.temple__container3{
    display: none;
}

.temple__title {
    font-size: 4.4rem;
    font-weight: 700;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-20%, 50%);
}

.back__button {
    margin-left: 10rem;
    color: var(--color-bg);
    text-transform: uppercase;
    font-size: 73%;
}

#hero__details1_temple {
    top: 0%;
    left: 55%;
    transform: translate(47%, 100%);
    padding-right: 50px;
    font-size: 1.2rem;
}

.herotitle__name {
    font-weight: 400;
    margin-left: 0;
    font-size: 50%;
}

.para__1 {
    font-size: 75%;
    font-weight: 200;
}

.para__2_temple {
    font-size: 75%;
    font-weight: 200;
    margin-bottom: 3em;
}

.temple_btn{
    margin-top: 2rem;
    
}

.para__3 {
    font-size: 75%;
    font-weight: 200;
}


/* ======== Coffeebean Video ======== */
.ParallaxVideo {
    height: 60vh;
}

.ParallaxVideo video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ======= Brand Vision ======== */
.brand__box_temple, .brand__box_temple2 {
    
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    height: 95vh;
    padding-top: 5.5rem;
}

.brand__left_temple>h3 {
    font-size: 156%;
    font-weight: 300;
    padding-left: 10%;
    margin-top: 70px;
}

.brand__right2_temple {
    font-size: 94%;
    font-weight: 400;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;
}

.brand__description_temple{
    margin-top: 10px;
    margin-right: 60px;
}

.brand__description_temple>p {
    display: flex;
    align-items: center;
    font-weight: 200;


}

.brand__left1 {
    margin-bottom: 3rem;
}


.brand__right {
    margin-bottom: 10em;
}

.img__container_temple img {
    height: 80vh;
    background-color: #575757;
}

.brand__temple {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../../assets/ProjectsDataImages/Temple/Temple4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======== UX Research ========== */
.brand__box_temple {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 110vh;
    margin-top: 2.5rem;
}
.brand__box_temple2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 130vh;
    margin-top: 2.5rem;
    padding-left: 2rem;
}

.brand__right>h5 {
    font-size: 156%;
    font-weight: 300;
    padding-left: 5rem;
    margin-top: 2rem;
}

.brand__right>p {
    padding-left: 5rem;
    font-weight: 300;
}

.chart {
    width: 80%;
    margin-left: 5rem;
    margin-top: 2rem;
}




/* ======== Rebrand Container ========== */

.rebrand__container1>h3 {
    font-weight: 100;
    padding-left: 5rem;
    padding-top: 5%;
}

.rebrand__container1 h6 {
    padding-bottom: 0;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 90%;
}

.rebranding {
    margin-top: .2rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    font-weight: 200;

}

.brand__temple2 {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../../assets/ProjectsDataImages/Temple/Temple3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage__video1 {
    width: 100vw;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    background-color: #575757;
}

video {
    height: 60vh;
    width: 100%;
}

.brand__box3 {
    background-color: var(--color-bg-lightmode);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 55%;
    padding-top: 2.5rem;
}

.temple-brand__title3 {
    margin-right: 10%;
    margin-left: 0%;
    margin-bottom: 3em;
}

.brand__title3>p {
    font-weight: 300;
}

/* @media only screen and (max-width: 1200px) {
    .brand__right>p {
        font-size: 15px;
    }

    .brand__right>h5 {
        margin-top: 1rem;
    }
} */


 
 @media only screen and (max-width: 1000px) {

    .togglebutton {
        display: flex;
    }

    #close a {
        display: none;
    }
    .temple__container1 {
        display: none;
     }
     
     .temple__container2 {
         height: 30vh;
     }
    
     .temple__container3 {
         display: block;
         height: 40vh;
         background-image: url(../../../assets/ProjectsDataImages/Temple/IMG_4522.JPG);
         background-repeat: no-repeat;
         background-size: 100%;
     }

.temple__title {
    font-size: 2rem;
    top: 0%;
    left: 0%;
    transform: translate(5%, 0%);
}

.back__button {
    display: none;
}


#hero__details1_temple {
    text-align: left;
    padding-left: 50px;
    margin-right: 0px;
    font-size: 18px;
    top: 40%;
    left: 0%;
    transform: translate(0%, 0%);
}

.herotitle__name {
    display: none;
}

.ParallaxVideo {
    height: 40vh;
}

.brand__box_temple, .brand__box_smf2 {
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0;

}

.brand__box_temple2{
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.brand__left_temple {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
}

.brand__left_temple2 {
    font-size: 18px;
    margin-top: 3.5rem;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
}


.img_steph{
    width: 60%;
    padding-left: 0%;
}

.brand__left_temple>h3, .brand__left_temple2>h3 {
    font-size: 100%;
    font-weight: 400;
    padding-left: 0;
    margin-top: 0;
    text-align: center;
    line-height: 0;
}

.brand__right_temple {
    margin-left: 0px;
}




.brand__description_temple{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.brand__description_temple>p {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.two {
    padding-top: 0rem;
    gap: 0rem;
    grid-template-columns: 1.5fr 1fr;
    height: 60vh;
}


.img__container_temple img{
    height: 75vh;
}

.brand__box_smf3{
    margin-top: 3rem
}
.brand__right_smf>p {
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    font-weight: 400;
}

.brand__title2_smf{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.brand__title3 {
    font-size: 20px;
    margin-top: 0;
    padding-left: 0;
    font-weight: 400;
    text-align: center;
}


.brand__right2_temple {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-left: 0;
    padding-left: 0rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.chart_temple {
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
   margin-bottom: 1rem;
}



.brand__left_arts img {
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 0;
    width: 60%;
   transform: translate(30%, 0%);
}

.rebrand__container_arts>h3 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-top: 0%;
    margin-left: 0;
    padding: 0;
}

.rebrand__container_arts>h6 {
    padding-bottom: 0;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 14px;
    text-align: center;
    margin-left: 0;
    padding: 0;

}

.rebranding_arts {
    margin-top: .6rem;
    margin-bottom: 1.5rem;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.brand__box3_arts {
    display: flex;
    flex-direction: column;
    height: 58vh;
    margin-top: 0;
}

.brand__left_arts>h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0rem;
}

.brand__title3_arts {
    margin-right: 0;

}

.brand__title3_arts>p {
    font-weight: 200;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}


.homepage__video {
    padding-top: 0;
    margin-top: 0;
}

video {
    height: 45vh;
    width: 100%;
}
}

@media only screen and (max-width: 650px) {
.img__container_temple img{
    height: 40vh;
}
.brand__right_arts {
    margin-bottom: 0;
    margin-top: 0rem;
   
}
}

@media only screen and (max-width: 450px) {
.temple__title{
    margin-left: 0rem;
}
#hero__details1_temple{
    padding-left: 20;
}
.temple_btn{
    margin-top: .5rem;
}

.brand__right_temple3 {
    margin-bottom: 10em;
}
}