.hello {
  background-color: var(--color-bg-darkmode);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.greeting {
  font-size: 14rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: var(--color-bg-lightmode);
  line-height: 0;
  margin: 10rem 0rem 12rem;
}

.hello_header{
  text-align: center;
font-family: "Alumni Sans Pinstripe", sans-serif;
font-weight: 800;
font-style: normal;
font-size: 3rem;
line-height: 0;
padding: 0rem 0rem 3rem;
color: var(--color-white);
text-transform: capitalize;
letter-spacing: 0.13em;
}
.hello_paragraph {
  color: var(--color-bg-lightmode);
  padding: 2rem 2rem 1rem 15rem;
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
}

.border {
  border: 1px solid var(--color-white);
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box2_career{
  margin-bottom: 3rem;
}

.goals{
  padding: 0rem 15rem .5rem;
}

.hello__pic2{
  float: left;
  margin: 1rem 2rem 2rem 0rem; 
  width: auto;
  height: 20em;   
}

.hello__pic3{
  float: right;
  margin: 1rem 6rem 2rem 2rem; 
  width: auto;
  height: 30em;   
}

.hello__pic4{
  float: left;
  margin: 1rem 1rem 0rem 15rem; 
  width: 8em;
  height: auto;   
}

.career__header_career{
  font-size: 2rem;
  margin-bottom: 4rem;
  color: var(--color-bg-lightmode);
font-weight: 400;
padding: 0rem 15rem;
font-style: normal;
}

.career__title_career {
  font-size: 20px;
  color: var(--color-primary-new);
  margin: 2rem 0rem 0rem;
  font-weight: 600;
  padding: 0rem 15rem;
}

.box_career_hello{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  margin-top: 1rem;
  margin-left: 15rem;
}


.box_hello_pic{
  width: 48%;
}

.box3 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem 2rem 0rem;
}

.animated_numbers {
  color: var(--color-primary-new);
  font-size: 3rem;
  font-weight: 600;
  text-align: end;
  margin-right: 1rem;
}

.animated_copy {
  color: var(--color-white);
  font-size: 14px;
  text-align: end;
  margin-right: 0.5rem;
}


@media only screen and (max-width: 1000px) {

.hello_header {
  font-size: 2rem;
}

.hello_paragraph {
  padding: 2rem 4rem 1rem;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
}

.border {
  border: 1px solid var(--color-white);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_hello_pic{
width: 47%;
}
.box_career_hello{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  margin-top: 1rem;
  margin-left: 5rem;
}
.hello__pic3{
  float: right;
  margin: 1rem 6rem 2rem 2rem; 
  width: auto;
  height: 10em;   
}
.career__header_career{
  font-size: 1.3rem;
padding: 0rem 3rem;
}
.career__title_career {
  font-size: 18px;
  color: var(--color-primary-new);
  margin: 2rem 0rem 0rem;
  font-weight: 600;
  padding: 0rem 3rem;
}
.hello__pic4{
  float: left;
  margin: 1rem 1rem 0rem 3rem; 
  width: 5em;
  height: auto;   
}
.goals{
  padding: 1rem 3rem 0rem;
}
.animated {
  display: flex;
  justify-content: center;
}
.box3 {
  width: 8rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem 2rem 0rem;
}
.animated_numbers {
  color: var(--color-primary-new);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: end;
  margin-right: 1rem;
}

}


@media only screen and (max-width: 700px) {
  .hello_paragraph {
    padding: 2rem 4rem 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    text-align: left;
  }
  .greeting {
    font-size: 10rem;
  }

}



/* .hello {
  background-color: var(--color-bg-darkmode);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.greeting {
  font-size: 16rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: var(--color-bg-lightmode);
  line-height: 0;
  margin: 10rem 0rem 12rem;
}

.hello_header {
  text-align: center;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  line-height: 0;
  padding: 0rem 0rem 3rem;
  color: var(--color-white);
  text-transform: capitalize;
  letter-spacing: 0.13em;
}

.border {
  border: 1px solid var(--color-white);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello__copy {
  margin: 2em 0em 0em 4em;
  display: flex;
  justify-content: space-between;
}

.hello_paragraph {
  color: var(--color-bg-lightmode);
  padding: 0rem 15rem 1rem 0rem;
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
}

.hello__pic {
  float: left;
  margin: 0rem 2rem 2rem 0rem;
  width: 23em;
  height: auto;
}

.box3 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem 2rem 0rem;
}

.animated_numbers {
  color: var(--color-primary-new);
  font-size: 3rem;
  font-weight: 600;
  text-align: end;
  margin-right: 1rem;
}

.animated_copy {
  color: var(--color-white);
  font-size: 14px;
  text-align: end;
  margin-right: 0.5rem;
}

.hello__pic2 {
  float: left;
  margin: 1rem 2rem 2rem 0rem;
  width: auto;
  height: 20em;
}

.hello__pic3 {
  float: right;
  margin: 1rem 0rem 2rem 2rem;
  width: auto;
  height: 20em;
}

.hello__pic4 {
  float: left;
  margin: 1rem 1rem 0rem 0rem;
  width: auto;
  height: 8em;
}

.career__header {
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--color-bg-lightmode);
  font-weight: 400;
  font-style: normal;
}

.career__title {
  font-size: 20px;
  color: var(--color-primary-new);
  margin: 1rem 0rem;
  font-weight: 600;
}

.box_career {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 1rem 0rem 2rem 0rem;
}

.box_career_pic {
  width: 30%;
}

@media only screen and (max-width: 900px) {
  .hello__copy {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .hello_paragraph {
    padding: 0rem;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
  }
  .animated {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .greeting {
    font-size: 14rem;
  }

  .hello_header {
    font-size: 2.5rem;
  }

   .hello__pic {
    float: left;
    margin: 0rem 2rem 2rem 0rem;
    width: 13em;
    height: auto;
  }

   .hello_paragraph {
    padding: 0rem 5rem 1rem 5rem;
    font-size: 14px;
  } 
  .box_header {
    margin: 0rem 2rem;
  } 
} */
