.related__headline {
  font-family: "Montserrat", sans-serif;
    color: var(--color-primary-new);
  font-size: 17px;
  font-weight: 400;
  padding: 0rem 10rem 0rem;
  line-height: 2;
  text-align: center;
}


.related {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0em;
    margin-bottom: 0;
    background-color: var(--color-bg-darkmode);


}

.related h2 {
    color: #171717;
    font-size: 5rem;
    font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  line-height: 1;
  font-style: normal;
  color: var(--color-white);
  margin: 2rem;
  
}


.related hr {
    width: 12.5em;
    height:.4em;
    background-color: darkseagreen;
}

.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .6em;
    height: 70vh;
    overflow: hidden;
    overflow-x: scroll;
    transform: translate(0%);
    background-color: var(--color-bg-darkmode);
}

.relatedproducts-item {
    margin-top: 3em;
    display: flex;
    gap: 1em;
}


.relatedproducts::-webkit-scrollbar {
    height: 8px;
  }
  
  .relatedproducts::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  
  .relatedproducts::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
  
  .relatedproducts::-webkit-scrollbar:horizontal {
    height: 0;
    width: 0;
    display: none;
  }
  
  .relatedproducts::-webkit-scrollbar-thumb:horizontal {
    display: none;
  }
  


  @media (max-width: 700px) {
    .related h1 {
      font-size: 2em;
      margin-bottom: .5em;
  }
  .related__headline {
    padding: 0rem 3rem 0rem;
  }

.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .6em;
  height: 50vh;
  overflow: hidden;
  overflow-x: scroll;
  transform: translate(0%);
  background-color: var(--color-bg-darkmode);
}


  .relatedproducts-item {
    display: flex;
    gap: 0;
    margin-top: 1rem;
}


}