.port__container_qgiv {
    background-color: var(--color-white);
    overflow-x: hidden;
}
.qgiv__container1 {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../../assets/ProjectsDataImages/Qgiv/newdp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7)
}

.qgiv__container3 {
    display: none;
}

.brand__box_qgiv {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    height: 75vh;
    padding-top: 2.5rem;
}

.brand__box_qgiv2 {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    height: 25vh;
    padding-top: 2.5rem;
}
.brand__left_qgiv>h3 {
    font-size: 156%;
    font-weight: 300;
    padding-left: 10%;
    margin-top: 60px;
}

.brand__left_qgiv img {
    width: 80%;
    margin-left: 5rem;
    margin-top: 6rem;
}
.brand__right_qgiv{
    margin-bottom: 2rem;
}

.brand__right_qgiv > p {
    padding-left: 5rem;
    font-weight: 300;
}
.brand__description_qgiv{
    margin-top: 10px;
    margin-right: 60px;
}

.brand__description_qgiv>p {
    display: flex;
    align-items: center;
    font-weight: 200;


}
.img__container_qgiv{
    height: 80vh;
}

.img__container_qgiv2  {
   width: 100%;
   margin-top: 3rem;
   /* transform: translate(40%); */
}




@media only screen and (max-width: 1000px) {
    .qgiv__container1 {
        display: none;
    }
    .qgiv__container3 {
        display: block;
        height: 30vh;
        background-image: url(../../../assets/ProjectsDataImages/Qgiv/newdp.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .brand__box_qgiv {
        height: 75%;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin-left: 2rem;

    }
    .brand__box_qgiv2 {
        height: 55%;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
        margin-left: 2rem;

    }
    .brand__left_qgiv {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 0;
        padding-left: 0;
        text-align: center;
    }

    .brand__left_qgiv > h3 {
        font-size: 100%;
        font-weight: 400;
        padding-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .brand__left_qgiv img {
        margin-left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        margin-top: 0;
    }
    .brand__right_qgiv>p {
        font-size: 90%;
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 0;
        font-weight: 400;
    }
    .brand__title2_qgiv{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
   
    .img__container_qgiv2  {
        transform: translate(15%);
     }
    

}

@media only screen and (max-width: 600px) {
    .img__container_qgiv{
        height: 50vh;
    }
}
@media only screen and (max-width: 450px) {
.brand__box_qgiv {
    margin: 0rem 3rem;

}
.brand__box_qgiv2 {
    margin: 0rem 3rem;

}
.brand__description_qgiv{
    margin-top: 10px;
    margin-right: 0px;
}
.img__container_qgiv2  {
    transform: translate(0%);
 }
}