.port__container_arts {
    background-color: var(--color-white);
    overflow-x: hidden;

}

/* ======== Hero Container ======== */
.arts__container1 {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../../assets/ProjectsDataImages/Mockups/arts_screen2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7)
}
.arts__container3 {
    display: none;
}

.arts__container2 {
    height: 60vh;
}

.project__title_arts {
    font-size: 9.4rem;
    font-weight: 700;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-20%, -65%);
}

.back__button {
    margin-left: 10rem;
    color: var(--color-bg);
    text-transform: uppercase;
    font-size: 73%;
}

#hero__details_arts {
    top: 80%;
    left: 55%;
    transform: translate(47%, 140%);
    padding-right:60px;
    font-size: 1.2rem;
    margin-bottom: 3em;
}

.herotitle__name {
    font-weight: 400;
    margin-left: 0;
    font-size: 50%;
}

.para__1 {
    font-size: 75%;
    font-weight: 200;
}

.para__2 {
    font-size: 75%;
    font-weight: 200;
    margin-bottom: 3em;
}

.arts_btn{
    margin-top: 2rem;
    
}

.para__3 {
    font-size: 75%;
    font-weight: 200;
}


/* ======== Coffeebean Video ======== */
.ParallaxVideo {
    height: 60vh;
}

.ParallaxVideo video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* ======= Brand Vision ======== */
.brand__box_arts {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    height: 75vh;
    padding-top: 5.5rem;
}

.brand__left_arts>h3 {
    font-size: 156%;
    font-weight: 300;
    padding-left: 10%;
    margin-top: 60px;
}

.brand__title2_arts {
    font-size: 94%;
    font-weight: 400;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;
}

.brand__description_arts{
    margin-top: 10px;
    margin-right: 60px;
}

.brand__description_arts>p {
    display: flex;
    align-items: center;
    font-weight: 200;


}

.brand__left_arts {
    margin: 0;
}

.brand__right_arts {
    margin-bottom: 0;
}

.img__container_arts {
    height: 100vh;
    background-color: var(--color-);
}

.brand__img_arts {
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../../assets/ProjectsDataImages/Mockups/mockup_arts.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======== UX Research ========== */
.brand__box2_arts {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 45vh;
    margin-top: 2.5rem;
}

.brand__right2_arts{
    font-size: 156%;
    font-weight: 300;
    padding-left: 5rem;
    margin-top: 2rem;
}

.brand__right_arts>p {
    padding-left: 5rem;
    font-weight: 300;
}

.brand__left_arts img {
    width: 40%;
    margin-left: 8rem;
    margin-top: 3rem;
}




/* ======== Rebrand Container ========== */

.rebrand__container_arts>h3 {
    font-weight: 100;
    padding-left: 5rem;
    padding-top: 2%;
}

.rebrand__container_arts h6 {
    padding-bottom: 0;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 90%;
}

.rebranding_arts {
    margin-top: .2rem;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    margin-right: 5rem;
    font-weight: 200;

}

.homepage__video {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

video {
    height: 80vh;
    width: 100%;
}

.brand__box3_arts {
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 55%;
    padding-top: 2.5rem;
}

.brand__title3_arts {
    margin-right: 10%;
    margin-left: 0%;
}

.brand__title3_arts>p {
    font-weight: 300;
}



@media only screen and (max-width: 1000px) {

    .togglebutton {
        display: flex;
    }

    #close a {
        display: none;
    }
    .arts__container1{
        display: none;
    }
    .arts__container3 {
        display: block;
        height: 30vh;
        background-image: url(../../../assets/ProjectsDataImages/Mockups/arts_screen2.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

.arts__container2 {
    height: 40vh;
}

.project__title_arts {
    font-size: 4rem;
    top: 0%;
    left: 0%;
    transform: translate(10%, 0%);
}

.back__button {
    display: none;
}


#hero__details_arts {
    text-align: left;
    padding-left: 50px;
    margin-right: 0px;
    font-size: 18px;
    top: 40%;
    left: 0%;
    transform: translate(0%, 0%);
}

.herotitle__name {
    display: none;
}

.ParallaxVideo {
    height: 40vh;
}

.brand__box_arts {
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0;

}

.brand__left_arts {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}

.brand__left_arts>h3 {
    font-size: 100%;
    font-weight: 400;
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
}

.brand__description_arts{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 30px;
}

.brand__description_arts>p {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
}

.img__container_arts{
    height: 50vh;
}


.brand__right_arts>p {
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    font-weight: 400;
}

.brand__title2_arts{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.brand__title3 {
    font-size: 20px;
    margin-top: 0;
    padding-left: 0;
    font-weight: 400;
    text-align: center;
}

.brand__right_arts {
    margin-bottom: 0;
    margin-top: 5rem;
   
}

.brand__box2_arts {
    display: flex;
    flex-direction: column;
    height: 75vh;
    padding: 0;

}

.brand__right2_arts {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-left: 0;
    padding-left: 0rem;
    margin-bottom: 2rem;
}

.brand__right_arts>p {
    font-size: 16px;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-weight: 200;

}

.brand__left_arts img {
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 0;
    width: 60%;
   transform: translate(30%, 0%);
}

.rebrand__container_arts>h3 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-top: 0%;
    margin-left: 0;
    padding: 0;
}

.rebrand__container_arts>h6 {
    padding-bottom: 0;
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 14px;
    text-align: center;
    margin-left: 0;
    padding: 0;

}

.rebranding_arts {
    margin-top: .6rem;
    margin-bottom: 1.5rem;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

.brand__box3_arts {
    display: flex;
    flex-direction: column;
    height: 58vh;
    margin-top: 0;
}

.brand__left_arts>h3 {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0rem;
}

.brand__title3_arts {
    margin-right: 0;

}

.brand__title3_arts>p {
    font-weight: 200;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}


.homepage__video {
    padding-top: 0;
    margin-top: 0;
}

video {
    height: 45vh;
    width: 100%;
}
}

@media only screen and (max-width: 600px) {
.img__container_arts{
    height: 30vh;
}
.brand__right_arts {
    margin-bottom: 0;
    margin-top: 0rem;
   
}
}


@media only screen and (max-width: 4500px) {
.project__title_arts{
font-size: 3rem;
}
.brand__box2_arts {
    height: 85vh;
}
}