.hello {
    background-color: var(--color-bg-darkmode);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }


  .greeting {
    font-size: 16rem;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--color-bg-lightmode);
    line-height: 0;
    margin: 10rem 0rem 12rem;
  }

.hello_header1{
    text-align: center;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  line-height: 0;
  padding: 0rem 0rem 3rem;
  color: var(--color-white);
  text-transform: capitalize;
  letter-spacing: 0.13em;
}
.hello_paragraph_career {
    color: var(--color-bg-lightmode);
    padding: 2rem 15rem 1rem;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
}

.box2_career{
    margin-bottom: 3rem;
}

.goals{
    padding: 0rem 15rem .5rem;
}

.hello__pic2{
    float: left;
    margin: 1rem 2rem 2rem 0rem; 
    width: auto;
    height: 20em;   
}

.hello__pic3{
    float: right;
    margin: 1rem 6rem 2rem 2rem; 
    width: auto;
    height: 30em;   
}

.hello__pic4{
    float: left;
    margin: 1rem 1rem 0rem 15rem; 
    width: 8em;
    height: auto;   
}

.career__header_career{
    font-size: 2rem;
    margin-bottom: 4rem;
    color: var(--color-bg-lightmode);
  font-weight: 400;
  padding: 0rem 15rem;
  font-style: normal;
}

.career__title_career {
    font-size: 20px;
    color: var(--color-primary-new);
    margin: 2rem 0rem 0rem;
    font-weight: 600;
    padding: 0rem 15rem;
}

.box_career_career{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
 
}


.box_career_pic{
    width: 22%;
}


@media only screen and (max-width: 1000px) {

  .hello_header1 {
    font-size: 2rem;
  }

  .hello_paragraph_career {
    padding: 2rem 3rem 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}
.hello__pic3{
    float: right;
    margin: 1rem 6rem 2rem 2rem; 
    width: auto;
    height: 10em;   
}
.career__header_career{
    font-size: 1.3rem;
  padding: 0rem 3rem;
}
.career__title_career {
    font-size: 18px;
    color: var(--color-primary-new);
    margin: 2rem 0rem 0rem;
    font-weight: 600;
    padding: 0rem 3rem;
}
.hello__pic4{
    float: left;
    margin: 1rem 1rem 0rem 3rem; 
    width: 5em;
    height: auto;   
}
.goals{
    padding: 1rem 3rem 0rem;
}

}

@media only screen and (max-width: 700px) {
    
    .greeting {
      font-size: 10rem;
    }
  
  }
  @media only screen and (max-width: 450px) {

    .greeting {
      font-size: 10rem;
      margin: 10rem 0rem 8rem;
    }
    .hello_header1 {
      font-size: 1.5rem;
    }
    .hello_paragraph_career {
      padding: 2rem 1rem 1rem;
      
  }
  .box_career_career{
    gap: 40px;
  }
  .hello__pic3{
    display: none

  }
  .career__header_career{
  padding: 0rem 1rem;
  }
  .career__title_career {
    padding: 0rem 1rem;
  }
  .goals{
    padding: 1rem 1rem 0rem;
}
.hello__pic4{
  margin: 1rem 1rem 0rem 1rem; 
}
  }